<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5" lang="en">

  <head>
    <div th:replace="fragments.html::header"></div>
  </head>

  <body>
  <div th:replace="fragments.html::navbar"></div>

    <div class="container-fluid">
      <div class="row">

        <div class="col-md-2">

          <nav class="nav nav-pills nav-fill flex-column">
            <a class="nav-link active text-start mt-3" aria-current="page" href="#">Admin</a>
            <a class="nav-link text-start" href="/user">User</a>
          </nav>

        </div>

        <div class="col-md-10 bg-light">
          <div class="page-header mx-3 mt-3">
            <h1>
              Admin panel
            </h1>
          </div>

          <div class="tabbable mx-3">

            <nav>
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <button class="nav-link active" id="nav-users-tab" data-bs-toggle="tab" data-bs-target="#nav-users" type="button" role="tab" aria-controls="nav-users" aria-selected="true">User table</button>
                <button class="nav-link" id="nav-new-user-tab" data-bs-toggle="tab" data-bs-target="#nav-new-user" type="button" role="tab" aria-controls="nav-new-user" aria-selected="false">New user</button>
              </div>
            </nav>

            <div class="tab-content">
              <div class="tab-pane fade show active" id="nav-users" role="tabpanel" aria-labelledby="nav-users-tab" tabindex="0">
                <div class="card">
                  <h5 class="card-header">
                    All users
                  </h5>
                  <div class="card-body">
                    <table class="table">
                      <thead>
                      <tr>
                        <th>ID</th>
                        <th>Username</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>Edit</th>
                        <th>Delete</th>
                      </tr>
                      </thead>
                      <tbody id="table-body">

                      </tbody>
                    </table>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="edit-modal-label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="edit-modal-label">Edit user</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form id="edit-form">
                        <div class="form-group mt-3">
                          <label for="id-edit" class="d-flex justify-content-center"><b>ID</b></label>
                          <input type="text" class="form-control form-control-sm w-50 mx-auto" id="id-edit" name="id" placeholder="ID" readonly>
                        </div>
                        <div class="form-group mt-3">
                          <label for="username-edit" class="d-flex justify-content-center"><b>Username</b></label>
                          <input type="text" class="form-control form-control-sm w-50 mx-auto" id="username-edit" name="username" placeholder="Username" required>
                        </div>
                        <div class="form-group mt-3">
                          <label for="email-edit" class="d-flex justify-content-center"><b>Email</b></label>
                          <input type="email" class="form-control form-control-sm w-50 mx-auto" id="email-edit" name="email" placeholder="Email" required>
                        </div>
                        <div class="form-group mt-3">
                          <label for="password-edit" class="d-flex justify-content-center"><b>Password</b></label>
                          <input type="password" class="form-control form-control-sm w-50 mx-auto" id="password-edit" name="password" placeholder="Password">
                        </div>
                        <div class="form-group mt-3">
                          <label for="role-edit" class="d-flex justify-content-center "><b>Role</b></label>
                          <select required class="form-control form-control-sm w-50 mx-auto" id="role-edit" name="authorities" multiple>
                            <option value="ADMIN">ADMIN</option>
                            <option value="USER">USER</option>
                          </select>
                        </div>
                        <div class="modal-footer mt-3">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="edit-close">Close</button>
                          <button type="submit" class="btn btn-primary" id="edit-submit-button" onclick="editUser()">Edit</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

              <div class="modal fade" id="delete-modal" tabindex="-1" role="dialog" aria-labelledby="delete-modal-label" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="delete-modal-label">Edit user</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      <form id="delete-form">
                        <div class="form-group mt-3">
                          <label for="id-delete" class="d-flex justify-content-center"><b>ID</b></label>
                          <input type="text" class="form-control form-control-sm w-50 mx-auto" id="id-delete" name="id" placeholder="ID" disabled>
                        </div>
                        <div class="form-group mt-3">
                          <label for="username-delete" class="d-flex justify-content-center"><b>Username</b></label>
                          <input type="text" class="form-control form-control-sm w-50 mx-auto" id="username-delete" name="username" placeholder="Username" disabled>
                        </div>
                        <div class="form-group mt-3">
                          <label for="email-delete" class="d-flex justify-content-center"><b>Email</b></label>
                          <input type="email" class="form-control form-control-sm w-50 mx-auto" id="email-delete" name="email" placeholder="Email" disabled>
                        </div>
                        <div class="form-group mt-3">
                          <label for="password-delete" class="d-flex justify-content-center"><b>Password</b></label>
                          <input type="password" class="form-control form-control-sm w-50 mx-auto" id="password-delete" name="password" placeholder="Password" disabled>
                        </div>
                        <div class="form-group mt-3">
                          <label for="role-delete" class="d-flex justify-content-center "><b>Role</b></label>
                          <select required class="form-control form-control-sm w-50 mx-auto" id="role-delete" name="authorities" multiple disabled>
                            <option value="ADMIN">ADMIN</option>
                            <option value="USER">USER</option>
                          </select>
                        </div>
                      </form>
                    </div>
                    <div class="modal-footer mt-3">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="delete-close">Close</button>
                      <button class="btn btn-danger" type="submit" id="delete-submit-button" onclick="deleteUser()">Delete</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

              <div class="tab-pane fade" id="nav-new-user" role="tabpanel" aria-labelledby="nav-new-user-tab" tabindex="0">
                <div class="card">
                  <h5 class="card-header">
                    Add new user
                  </h5>
                  <div class="card-body">
                    <form id="new-form">
                      <div class="form-group mt-3">
                        <label for="username-new" class="d-flex justify-content-center"><b>Username</b></label>
                        <input type="text" class="form-control form-control-sm w-50 mx-auto" id="username-new" name="username" placeholder="Username" required>
                      </div>
                      <div class="form-group mt-3">
                        <label for="email-new" class="d-flex justify-content-center"><b>Email</b></label>
                        <input type="email" class="form-control form-control-sm w-50 mx-auto" id="email-new" name="email" placeholder="Email" required>
                      </div>
                      <div class="form-group mt-3">
                        <label for="password-new" class="d-flex justify-content-center"><b>Password</b></label>
                        <input type="password" class="form-control form-control-sm w-50 mx-auto" id="password-new" name="password" placeholder="Password">
                      </div>
                      <div class="form-group mt-3">
                        <label for="role-new" class="d-flex justify-content-center "><b>Role</b></label>
                        <select required class="form-control form-control-sm w-50 mx-auto" id="role-new" name="authorities" multiple>
                          <option value="ADMIN">ADMIN</option>
                          <option value="USER">USER</option>
                        </select>
                      </div>
                      <div class="form-group d-grid gap-2 col-6 w-25 mx-auto mt-3">
                        <button class="btn btn-success btn-lg " type="submit" id="new-submit-button" onclick="newUser()">Add new user</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <script th:src="@{js/admin.js}"></script>

    <div th:replace="fragments.html::footer"></div>
  </body>

</html>