<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<form method="post" th:action="@{/admin/user-add}" th:object="${user}">
    <div class="form-row">
        <div class="col-md-6 form-group">
            <input type="hidden" class="form-control" th:field="*{id}"/>

            <label>
                Name
                <input type="text" class="form-control" th:field="*{username}"/>
            </label>
        </div>
        <div class="col-md-6 form-group">
            <label>
                Email
                <input type="text" class="form-control" th:field="*{email}"/>
            </label>
        </div>
        <div class="col-md-6 form-group">
            <label>
                Password
                <input type="text" class="form-control" th:field="*{password}"/>
            </label>
        </div>
        <div class="col-md-6 form-group">
            <label>
                Active
                <input type="checkbox" th:field="*{enabled}"/>
            </label>
        </div>
        <div class="col-md-6 form-group">
            Roles
            <br>
            <th:block th:each="role : ${roles}">
                <div class="form-check">
                    <input id="authorities" class="form-check-input" type="checkbox" th:field="*{authorities}" th:value="${role.name()}">
                    <label class="form-check-label" for="authorities" th:text="${role.name()}"></label>
                </div>
            </th:block>
        </div>
        <div class="col-md-6 form-group">
            <input type="submit" value="Ok"/>
        </div>
    </div>
</form>
</body>
</html>